@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
}

.main{
    width: 100%;
    height: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 6rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.logo{
    font-size: 2rem;
}

.menu{
    font-size: 2rem;
    cursor: pointer;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0rem 10rem;
    padding-top: 10rem;
    flex-wrap: wrap;
    gap: 40px;
}

.heading-1{
    font-family: "Playfair Display SC", serif;
    font-size: 4rem;
    color: rgb(105, 105, 105);
}

.heading-2{
    font-family: "Playfair Display SC", serif;
    font-size: 4rem;
}

.column-1{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hero-p{
    color: #716d6d;
    font-family: "Roboto", sans-serif;
    line-height: 2rem;
}

.hero-content{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.shop-now{
    border: none;
    color: white;
    background-color: rgb(36, 156, 128);
    padding: 0.7rem 1rem;
}

.off{
    border: none;
    color: rgb(36, 156, 128);
    padding: 0.7rem 1rem;
    border: 2px solid rgb(36, 156, 128);
    background-color: white;
}

.hero-button{
    display: flex;
    gap: 10px;
}

.img-hero{
    width: 25rem;
    height: 25rem;
    border-radius: 50rem;
    background-color: aqua;
    background-image: url("./images/5.jpg");
    background-size: cover;
    box-shadow: 4px 7px 5px 2px #bcbaba;
}

.summer{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 10rem 10rem;
    flex-wrap: wrap;
    gap: 40px;
}

.summer-col-2{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.img-summer{
    width: 25rem;
    height: 25rem;
    border-radius: 50rem;
    background-color: aqua;
    background-image: url("./images/2.jpg");
    background-size: cover;
    box-shadow: 4px 7px 5px 2px #bcbaba;
}

@media (max-width: 1200px) {
    .img-hero{
        width: 20rem;
        height: 20rem;
    }

    .img-summer{
        width: 20rem;
        height: 20rem;
    }

    .hero{
        padding: 0rem 5rem;
        padding-top: 10rem;
        padding-bottom: 5rem;
    }

    .summer{
        padding: 0rem 5rem;
    }
}

@media (max-width: 850px) {
    
}
